:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
p {
	margin: 0;
}

/* cursor personalizado */
* {
	cursor: url('./assets/pokemon.png') 8 8, auto;
}
